<ul class="tags">


{{ form_start(form) }}
{{ form_row(form.description) }}
{{ form_row(form.dateDebut) }}
{{ form_row(form.dateFin) }}
{{ form_row(form.idNivdisci) }}
{{ form_row(form.adresse.nrue) }}
{{ form_row(form.adresse.rue) }}
{{ form_row(form.adresse.codepostal) }}
{{ form_row(form.adresse.ville) }}

    {# iterate over each existing tag and render its only field: name#}

</ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

