{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdAdresse</th>
                <td>{{ adresse.idAdresse }}</td>
            </tr>
            <tr>
                <th>Nrue</th>
                <td>{{ adresse.nrue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresse.rue }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adresse.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresse_index') }}">back to list</a>

    <a href="{{ path('adresse_edit', {'idAdresse': adresse.idAdresse}) }}">edit</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
